# Robot daemon (robotd) systemd script
# $Id: robotd.service,v 1.3 2022/04/18 08:59:04 bob Exp $
[Unit]
Description=Robot daemon
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/pirobot/robotd.py nodaemon

[Install]
WantedBy=multi-user.target
