# Radio systemd script
# $Id: robotd.service,v 1.2 2022/04/14 11:46:45 bob Exp $
[Unit]
Description=Robot daemon
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/pirobot/robotd.py nodaemon

[Install]
WantedBy=multi-user.target
